workflows/Turns Reddit Pain Points into Comic Ads using VLM Run and GPT-4o.json
{
  "name": "Turns Reddit Pain Points into Comic Ads using VLM Run and GPT-4o",
  "nodes": [
    {
      "parameters": {
        "content": "## Generate Reddit Keyword ",
        "height": 340,
        "width": 580,
        "color": 4
      },
      "id": "ecb0c874-27d3-41fa-8504-9f0b0562be9d",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2528,
        64
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Scrape Reddit",
        "height": 340,
        "width": 340,
        "color": 3
      },
      "id": "866efee5-3767-4ea3-bd3b-b2789913e273",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1888,
        64
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Filter Posts By Popularity",
        "height": 340,
        "width": 340,
        "color": 2
      },
      "id": "f62f7759-fdf5-495f-a695-637b77086b59",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1488,
        64
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Turn Painpoints Into Messaging",
        "height": 400,
        "width": 400,
        "color": 5
      },
      "id": "6841f221-ec15-449d-83f2-001263f0cc90",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Rank Top 10 Messaging",
        "height": 400,
        "width": 400,
        "color": 5
      },
      "id": "489fa427-3365-4a3a-94d2-29f62bd048af",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        464,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Create Image Prompt",
        "height": 400,
        "width": 460,
        "color": 5
      },
      "id": "066bd7ac-a273-4c11-aedc-a4c27b14a877",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        928,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Create Images + Upload",
        "height": 400,
        "width": 1012,
        "color": 6
      },
      "id": "57b86744-a947-4743-9d41-c210b6eaba12",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1712,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Post Relevance Classifier",
        "height": 340,
        "width": 500,
        "color": 3
      },
      "id": "f123dd34-8fa5-4489-a34e-88b71f4f4a8c",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1088,
        64
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "formTitle": "Add Details Here ",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Brand Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Website",
              "requiredField": true
            },
            {
              "fieldLabel": "Product Explanation",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "15e935de-79d9-4518-9c0f-d256f794eabd",
      "name": "When a Form is Submitted",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        -2464,
        192
      ],
      "webhookId": "d970aa7f-e00b-4d02-8712-1e4660441228",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "chatgpt-4o-latest",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a marketing strategist and Reddit researcher. \nGiven the following product description, extract a single keyword or phrase (1 to 3 words max) \nthat people on Reddit might use when discussing pain points related to this product or service.\n\nReturn ONLY the keyword or phrase, no extra text.\n\n\nProduct Description:{{ $json['Product Explanation'] }}\n"
            }
          ]
        },
        "options": {}
      },
      "id": "1ed8276c-7bd7-4f01-8bae-21ca08718af3",
      "name": "Generate Reddit Keyword from Product Description",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        -2256,
        192
      ],
      "typeVersion": 1.8,
      "credentials": {
        "openAiApi": {
          "id": "vp6jrQpBZv4qRHyt",
          "name": "OpenAi account 8"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "location": "allReddit",
        "keyword": "={{ $json.message.content }}",
        "limit": 10,
        "additionalFields": {}
      },
      "id": "1d2a0a2f-905f-4856-ac1d-5ebe17e41c39",
      "name": "Search Reddit Posts Using Keyword",
      "type": "n8n-nodes-base.reddit",
      "position": [
        -1760,
        192
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "1f62a8d7-2859-41ce-b87d-d34777bfc19b",
              "operator": {
                "type": "number",
                "operation": "gte"
              },
              "leftValue": "={{ $json.ups }}",
              "rightValue": 2
            },
            {
              "id": "1b3eb507-03e0-4cd3-8ebd-54bdfde787d5",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $json.selftext }}",
              "rightValue": ""
            }
          ]
        },
        "options": {
          "ignoreCase": false
        }
      },
      "id": "77f91ed4-8a98-4545-8c43-35daa904c795",
      "name": "Filter Posts With 2+ Upvotes and Text",
      "type": "n8n-nodes-base.if",
      "position": [
        -1360,
        192
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Important: always use the think2 tool\n\nYou are a content relevance classifier.\n\nGiven the following DTC product description:\n{{ $('When a Form is Submitted').item.json['Product Explanation'] }}\n\nAnd the details of a single Reddit post:\n• **Title**: {{ $('Search Reddit Posts Using Keyword').item.json.title }}\n• **Content**: {{ $('Search Reddit Posts Using Keyword').item.json.selftext }}\n• **Subreddit**: {{ $('Search Reddit Posts Using Keyword').item.json.subreddit }}\n• **Upvotes**: {{ $('Search Reddit Posts Using Keyword').item.json.ups }}\n• **Upvote Ratio**: {{ $('Search Reddit Posts Using Keyword').item.json.upvote_ratio }}\n• **URL**: {{ $('Search Reddit Posts Using Keyword').item.json.url }}\n\nYour task is to determine whether this post is relevant for marketing our product.\nReturn **only** a JSON array with one object containing two fields:\n- `isRelevant`: `true` if the post is relevant, otherwise `false`\n- `reason`: a short explanation of why you judged it relevant or not\n\nExample output:\n[\n  {\n    \"isRelevant\": true,\n    \"reason\": \"The user describes the exact pain point our product solves.\"\n  }\n]\n",
        "hasOutputParser": true,
        "options": {}
      },
      "id": "6498f21e-53ec-4860-8b15-f1be19345d10",
      "name": "Classify Post Relevance to Product",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -960,
        128
      ],
      "typeVersion": 1.9
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "33c0f44e-697f-4712-ad0b-5f03400d9714",
      "name": "GPT Model: Classify Relevance",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -1024,
        272
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "vp6jrQpBZv4qRHyt",
          "name": "OpenAi account 8"
        }
      }
    },
    {
      "parameters": {},
      "id": "11c1fd90-a824-48f0-b39b-ec08ad4dd0b3",
      "name": "Support Relevance Classification",
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "position": [
        -864,
        272
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsonSchemaExample": "[\n  {\n    \"isRelevant\": true,\n    \"reason\": \"The user describes the exact pain point our product solves.\"\n  }\n]\n"
      },
      "id": "ded320df-b433-4e29-ba27-2cab360356c3",
      "name": "Parse Relevance Classifier Output",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        -720,
        272
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b2311fdd-e2bc-413f-a948-2fe4886d78e1",
              "name": "upvotes",
              "type": "string",
              "value": "={{ $('Search Reddit Posts Using Keyword').item.json.ups }}"
            },
            {
              "id": "991a6ac8-0c9d-4975-8612-b6df33c7f4e7",
              "name": "subreddit",
              "type": "string",
              "value": "={{ $('Search Reddit Posts Using Keyword').item.json.subreddit }}"
            },
            {
              "id": "c219f718-c595-4156-ae87-b672c50df142",
              "name": "originalPost",
              "type": "string",
              "value": "={{ $('Search Reddit Posts Using Keyword').item.json.selftext }}"
            },
            {
              "id": "86566583-b073-4615-b3c4-114c9f1de518",
              "name": "title",
              "type": "string",
              "value": "={{ $('Search Reddit Posts Using Keyword').item.json.title }}"
            },
            {
              "id": "faa2a938-05af-4644-9d37-a55fe748656c",
              "name": "url",
              "type": "string",
              "value": "={{ $('Search Reddit Posts Using Keyword').item.json.url }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e488e582-4791-419c-bad1-d69a8c4eb6dd",
      "name": "Format Relevant Reddit Post Fields",
      "type": "n8n-nodes-base.set",
      "position": [
        -464,
        112
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "3acfff9a-7b50-476d-9b5e-404509c20e2f",
      "name": "Aggregate Relevant Reddit Data",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        -224,
        112
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "=You are a copywriter and strategist helping a DTC brand turn Reddit pain points into powerful marketing messages.\n\nHere are Reddit posts expressing a problems or frustration:\n\n{{ JSON.stringify($json.data) }}\n\n\nThe brand's product is described as: {{ $('When a Form is Submitted').item.json['Product Explanation'] }}\n\nYour job is to create 10 unique, punchy variations of how this product solves the pain in the Reddit posts.\n\nEach variation should be:\n\n- 1–2 sentences\n- Emotionally resonant\n- Framed as a \"hero\" moment (where the product enters to solve the issue)\n\nThink of these like ad angles or mini comic scripts. Output the list clearly as:\n\n1. ...\n2. ...\n3. ...\n...\n10. ...\n",
        "options": {}
      },
      "id": "85e8d5b6-6242-49ab-a6a5-55418a3c748a",
      "name": "Generate 10 Ad Angles From Reddit Posts",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        80,
        112
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "399497df-652c-4646-939f-73fc11f64c2c",
      "name": "Ad Angle Generation",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        128,
        320
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "vp6jrQpBZv4qRHyt",
          "name": "OpenAi account 8"
        }
      }
    },
    {
      "parameters": {},
      "id": "086db797-31e5-4822-ba10-6fdb3302062f",
      "name": "Support Ad Angle Generation",
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "position": [
        272,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "chatgpt-4o-latest",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a marketing strategist helping evaluate potential ad angles for a DTC product.\n\nThe product is described as: {{ $('When a Form is Submitted').item.json['Product Explanation'] }}\n\nBelow is a list of short ad variations generated from Reddit-sourced user pain points.\n\nPlease do the following:\n1. Review all variations.\n2. Select the top 10 that are most relevant and persuasive for this product.\n3. Re-rank them from best to least among the 10.\n4. Return them clearly as a numbered list (1 to 10), with no commentary.\n5. Only select the 10 most emotionally persuasive and product-relevant ad angles. Ignore redundant or vague lines.\n\n\nVariations: {{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "id": "cdf69cbd-1149-42b9-8fba-162073975319",
      "name": "Rank Top 10 Ad Angles",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        544,
        112
      ],
      "typeVersion": 1.8,
      "credentials": {
        "openAiApi": {
          "id": "vp6jrQpBZv4qRHyt",
          "name": "OpenAi account 8"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a creative director making 4-panel comic ads for a product.\n\nThe product is: {{ $('When a Form is Submitted').item.json['Product Explanation'] }}\n\nHere’s the ad message: {{ $json.message.content }}\n\nWrite a prompt for an AI image generator that describes a 4-panel comic showing this message as a visual story.\n\nFormat the output like:\n\n**Prompt**:  \nCreate a single image showing a 4-panel comic in clean, minimal style.  \nPanel 1: [setup/pain point]  \nPanel 2: [escalation]  \nPanel 3: [product enters heroically]  \nPanel 4: [positive outcome]  \n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Please return **only** a JSON array of 10 objects, each with a single property `\"prompt\"` containing the image prompt. Example output structure:\n\n[\n  {\n    \"prompt\": \"Sun-drenched poolside shot of the product on a marble ledge at golden hour, with soft shadows and warm tones. Aspect ratio 1:1.\"\n  },\n  {\n    \"prompt\": \"Cool lavender-tinted sunset beach backdrop behind the product, highlighting reflective metallic accents. Aspect ratio 4:5.\"\n  },\n  {\n    \"prompt\": \"...\"\n  }\n]"
        }
      },
      "id": "13dd0ec2-90f9-4607-bead-71aea1b0da0d",
      "name": "Create Comic Prompts from Ad Angles",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1040,
        112
      ],
      "typeVersion": 1.9
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "6d4ed074-c255-4e9f-bf67-02f14c8d16c7",
      "name": "Comic Prompt Creation",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        864,
        400
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "vp6jrQpBZv4qRHyt",
          "name": "OpenAi account 8"
        }
      }
    },
    {
      "parameters": {},
      "id": "1a4629c6-daae-40a7-9209-d90f89421112",
      "name": "Support Comic Prompt Creation",
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "position": [
        1104,
        272
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsonSchemaExample": "[\n  {\n    \"prompt\": \"Sun-drenched poolside shot of the product on a marble ledge at golden hour, with soft shadows and warm tones. Aspect ratio 1:1.\"\n  },\n  {\n    \"prompt\": \"Cool lavender-tinted sunset beach backdrop behind the product, highlighting reflective metallic accents. Aspect ratio 4:5.\"\n  },\n  {\n    \"prompt\": \"...\"\n  }\n]"
      },
      "id": "41ba07cd-8394-47a5-be6d-0abe35f8973d",
      "name": "Parse Comic Prompt JSON Output",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        1248,
        272
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "options": {}
      },
      "id": "eb6c374a-a829-4313-8334-239f15ea0734",
      "name": "Split Comic Prompt Objects",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        1488,
        112
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a0de32d7-4274-4a0e-879a-bd4ffd33855d",
      "name": "Loop Through Comic Prompts",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        1792,
        112
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "name": "={{ $json.filename }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1mXDgiC7IYrH_jABnywwmPZfkUDWgRF5n",
          "mode": "list",
          "cachedResultName": "reddit-comic-flow",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1mXDgiC7IYrH_jABnywwmPZfkUDWgRF5n"
        },
        "options": {}
      },
      "id": "992ddf0b-a564-4487-b4cd-4bac98bee1e8",
      "name": "Upload Image to Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        2560,
        112
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ii7fxIgb5bnFgIJ0",
          "name": "Google Drive account 5"
        }
      }
    },
    {
      "parameters": {
        "operation": "chatCompletion",
        "prompt": {
          "messages": [
            {
              "content": "={{ $json.prompt }}"
            }
          ]
        },
        "responseFormat": "{\n  \"type\": \"json_schema\",\n    \"schema\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"object_id\": {\n          \"type\": \"string\",\n          \"pattern\": \"^[a-z]+_[0-9a-f]{6}$\",\n          \"description\": \"The artifact object ID only (e.g., img_5ae97f, url_94e682, vid_123456)\"\n        }\n      },\n      \"required\": [\"object_id\"],\n      \"additionalProperties\": false\n    },\n    \"strict\": true\n}"
      },
      "type": "@vlm-run/n8n-nodes-vlmrun.vlmRun",
      "typeVersion": 1,
      "position": [
        2064,
        112
      ],
      "id": "dd007d00-bb2b-459d-937c-fcc9a48be00e",
      "name": "Create Comic Poster",
      "credentials": {
        "vlmRunApi": {
          "id": "n6vHafwmUZUVOzk0",
          "name": "VLM Run account 14"
        }
      }
    },
    {
      "parameters": {
        "operation": "artifacts",
        "objectId": "={{ $json.choices[0].message.content.object_id }}",
        "sessionId": "={{ $json.session_id }}"
      },
      "type": "@vlm-run/n8n-nodes-vlmrun.vlmRun",
      "typeVersion": 1,
      "position": [
        2304,
        112
      ],
      "id": "a8991620-f07d-47ba-ad61-7873ffa67bac",
      "name": "Get Poster",
      "credentials": {
        "vlmRunApi": {
          "id": "n6vHafwmUZUVOzk0",
          "name": "VLM Run account 14"
        }
      }
    }
  ],
  "pinData": {
    "When a Form is Submitted": [
      {
        "json": {
          "Website": "drinkbrez.com",
          "formMode": "test",
          "Brand Name": "Try Brez",
          "submittedAt": "2025-05-15T10:50:59.968+02:00",
          "Product Explanation": "Try Brez is a microdosed social tonic—sparkling and non-alcoholic—blending hemp-derived THC, CBD, and Lion’s Mane for a light, euphoric buzz without the hangover."
        }
      }
    ],
    "Search Reddit Posts Using Keyword": [
      {
        "json": {
          "id": "9nssri",
          "ups": 380,
          "url": "https://www.reddit.com/r/Anxiety/comments/9nssri/hangxiety/",
          "wls": null,
          "name": "t3_9nssri",
          "pwls": null,
          "downs": 0,
          "likes": null,
          "media": null,
          "saved": false,
          "score": 380,
          "title": "Hangxiety",
          "author": "pinkandbluegirl",
          "domain": "self.Anxiety",
          "edited": false,
          "gilded": 1,
          "hidden": false,
          "locked": false,
          "pinned": false,
          "clicked": false,
          "created": 1539426346,
          "is_meta": false,
          "is_self": true,
          "over_18": false,
          "spoiler": false,
          "visited": false,
          "archived": false,
          "awarders": [],
          "can_gild": false,
          "category": null,
          "gildings": {},
          "is_video": false,
          "mod_note": null,
          "selftext": "Anyone else ever get really bad anxiety the day after drinking? I got really drunk with friends last night and now I’m just sat in my bathroom trying to ground myself.",
          "stickied": false,
          "banned_by": null,
          "no_follow": false,
          "permalink": "/r/Anxiety/comments/9nssri/hangxiety/",
          "subreddit": "Anxiety",
          "thumbnail": "self",
          "hide_score": false,
          "media_only": false,
          "quarantine": false,
          "removed_by": null,
          "view_count": null,
          "approved_by": null,
          "created_utc": 1539426346,
          "media_embed": {},
          "mod_reports": [],
          "num_reports": null,
          "can_mod_post": false,
          "contest_mode": false,
          "num_comments": 118,
          "secure_media": null,
          "send_replies": true,
          "subreddit_id": "t5_2qmij",
          "upvote_ratio": 0.98,
          "user_reports": [],
          "all_awardings": [],
          "banned_at_utc": null,
          "distinguished": null,
          "mod_reason_by": null,
          "selftext_html": "&lt;!-- SC_OFF --&gt;&lt;div class=\"md\"&gt;&lt;p&gt;Anyone else ever get really bad anxiety the day after drinking? I got really drunk with friends last night and now I’m just sat in my bathroom trying to ground myself.&lt;/p&gt;\n&lt;/div&gt;&lt;!-- SC_ON --&gt;",
          "author_premium": false,
          "num_crossposts": 0,
          "removal_reason": null,
          "report_reasons": null,
          "subreddit_type": "public",
          "suggested_sort": null,
          "treatment_tags": [],
          "approved_at_utc": null,
          "author_fullname": "t2_ny4rx",
          "discussion_type": null,
          "link_flair_text": null,
          "link_flair_type": "text",
          "thumbnail_width": null,
          "is_crosspostable": true,
          "mod_reason_title": null,
          "thumbnail_height": null,
          "top_awarded_type": null,
          "author_flair_text": null,
          "author_flair_type": "text",
          "author_is_blocked": false,
          "content_categories": null,
          "is_robot_indexable": true,
          "secure_media_embed": {},
          "allow_live_comments": true,
          "is_original_content": false,
          "link_flair_richtext": [],
          "removed_by_category": null,
          "author_patreon_flair": false,
          "link_flair_css_class": null,
          "author_flair_richtext": [],
          "link_flair_text_color": "dark",
          "subreddit_subscribers": 769547,
          "total_awards_received": 0,
          "author_flair_css_class": null,
          "is_created_from_ads_ui": false,
          "is_reddit_media_domain": false,
          "author_flair_text_color": null,
          "subreddit_name_prefixed": "r/Anxiety",
          "author_flair_template_id": null,
          "link_flair_background_color": "",
          "author_flair_background_color": null
        }
      },
      {
        "json": {
          "id": "1kplykt",
          "ups": 10,
          "url": "https://www.reddit.com/r/TheGirlSurvivalGuide/comments/1kplykt/how_to_cope_with_hangxiety/",
          "wls": 6,
          "name": "t3_1kplykt",
          "pwls": 6,
          "downs": 0,
          "likes": null,
          "media": null,
          "saved": false,
          "score": 10,
          "title": "How to cope with hangxiety",
          "author": "mgcurtz",
          "domain": "self.TheGirlSurvivalGuide",
          "edited": false,
          "gilded": 0,
          "hidden": false,
          "locked": false,
          "pinned": false,
          "clicked": false,
          "created": 1747580398,
          "is_meta": false,
          "is_self": true,
          "over_18": false,
          "spoiler": false,
          "visited": false,
          "archived": false,
          "awarders": [],
          "can_gild": false,
          "category": null,
          "gildings": {},
          "is_video": false,
          "mod_note": null,
          "selftext": "Went to a party last night and got very drunk. This morning I’m just overwhelmed with the fear I came onto someone and tried to kiss peoples boyfriends and flashed people. I remember chunks of the night but opened my camera roll and messages to voice notes and pictures I didn’t know I took/sent. My best friend hasn’t answered my texts but has been online so that makes me scared that I may have come onto her boyfriend or said something hurtful to her. In general I am very annoying when I’m drunk and I was basically the most drunk there. I don’t wanna text her like “hey did I do something” because it’s just adding to me being annoying but I’ll see her tomorrow. She’s just not answering me on any platform but I texted her last night after the party to make sure she got in okay and she said “yuppp tysm” and reacted with a heart to my chat. I was still drunk when I texted her “was I being too much of a wanker?” To which she replied with “idek I wasn’t paying attention” so that’s good ig? I’m sure someone would have told me. I asked a question in my friend group gc and asked who’s going to the next house party and just got left on opened by everyone but this usually happens. But the anxiety is like oooo girl u in troubleee. Help ",
          "stickied": false,
          "banned_by": null,
          "no_follow": false,
          "permalink": "/r/TheGirlSurvivalGuide/comments/1kplykt/how_to_cope_with_hangxiety/",
          "subreddit": "TheGirlSurvivalGuide",
          "thumbnail": "self",
          "hide_score": false,
          "media_only": false,
          "quarantine": false,
          "removed_by": null,
          "view_count": null,
          "approved_by": null,
          "created_utc": 1747580398,
          "media_embed": {},
          "mod_reports": [],
          "num_reports": null,
          "can_mod_post": false,
          "contest_mode": false,
          "num_comments": 14,
          "secure_media": null,
          "send_replies": true,
          "subreddit_id": "t5_2vfzu",
          "upvote_ratio": 0.65,
          "user_reports": [],
          "all_awardings": [],
          "banned_at_utc": null,
          "distinguished": null,
          "mod_reason_by": null,
          "selftext_html": "&lt;!-- SC_OFF --&gt;&lt;div class=\"md\"&gt;&lt;p&gt;Went to a party last night and got very drunk. This morning I’m just overwhelmed with the fear I came onto someone and tried to kiss peoples boyfriends and flashed people. I remember chunks of the night but opened my camera roll and messages to voice notes and pictures I didn’t know I took/sent. My best friend hasn’t answered my texts but has been online so that makes me scared that I may have come onto her boyfriend or said something hurtful to her. In general I am very annoying when I’m drunk and I was basically the most drunk there. I don’t wanna text her like “hey did I do something” because it’s just adding to me being annoying but I’ll see her tomorrow. She’s just not answering me on any platform but I texted her last night after the party to make sure she got in okay and she said “yuppp tysm” and reacted with a heart to my chat. I was still drunk when I texted her “was I being too much of a wanker?” To which she replied with “idek I wasn’t paying attention” so that’s good ig? I’m sure someone would have told me. I asked a question in my friend group gc and asked who’s going to the next house party and just got left on opened by everyone but this usually happens. But the anxiety is like oooo girl u in troubleee. Help &lt;/p&gt;\n&lt;/div&gt;&lt;!-- SC_ON --&gt;",
          "author_premium": false,
          "num_crossposts": 0,
          "removal_reason": null,
          "report_reasons": null,
          "subreddit_type": "public",
          "suggested_sort": null,
          "treatment_tags": [],
          "approved_at_utc": null,
          "author_fullname": "t2_kzakkmfu",
          "discussion_type": null,
          "link_flair_text": "Social ?",
          "link_flair_type": "text",
          "thumbnail_width": null,
          "is_crosspostable": true,
          "mod_reason_title": null,
          "thumbnail_height": null,
          "top_awarded_type": null,
          "author_flair_text": null,
          "author_flair_type": "text",
          "author_is_blocked": false,
          "content_categories": null,
          "is_robot_indexable": true,
          "secure_media_embed": {},
          "allow_live_comments": false,
          "is_original_content": false,
          "link_flair_richtext": [],
          "removed_by_category": null,
          "author_patreon_flair": false,
          "link_flair_css_class": "SocialQ",
          "author_flair_richtext": [],
          "link_flair_text_color": "dark",
          "subreddit_subscribers": 507710,
          "total_awards_received": 0,
          "author_flair_css_class": null,
          "is_created_from_ads_ui": false,
          "is_reddit_media_domain": false,
          "link_flair_template_id": "87cffb4a-68b6-11e7-afc4-0e6b3c21aaf2",
          "author_flair_text_color": null,
          "subreddit_name_prefixed": "r/TheGirlSurvivalGuide",
          "author_flair_template_id": null,
          "link_flair_background_color": "",
          "author_flair_background_color": null
        }
      },
      {
        "json": {
          "id": "16wt4k6",
          "ups": 243,
          "url": "https://www.reddit.com/r/hangxiety/comments/16wt4k6/i_was_able_to_cure_my_hangxiety_and_wanted_to/",
          "wls": null,
          "name": "t3_16wt4k6",
          "pwls": null,
          "downs": 0,
          "likes": null,
          "media": null,
          "saved": false,
          "score": 243,
          "title": "I was able to cure my hangxiety and wanted to share - full story below",
          "author": "Germerica1985",
          "domain": "self.hangxiety",
          "edited": 1749219095,
          "gilded": 0,
          "hidden": false,
          "locked": false,
          "pinned": false,
          "clicked": false,
          "created": 1696139712,
          "is_meta": false,
          "is_self": true,
          "over_18": false,
          "spoiler": false,
          "visited": false,
          "archived": false,
          "awarders": [],
          "can_gild": false,
          "category": null,
          "gildings": {},
          "is_video": false,
          "mod_note": null,
          "selftext": "TWO YEARS LATER, life is amazing: [https://www.reddit.com/r/hangxiety/comments/1l4tech/probiotics\\_guy\\_2\\_years\\_later\\_better\\_than\\_ive\\_ever/](https://www.reddit.com/r/hangxiety/comments/1l4tech/probiotics_guy_2_years_later_better_than_ive_ever/)\n\n\n\nOk so first some background:\n\nI have been a moderate drinker my whole life (37m) I usually like to have 1-2 beers after work (in Germany so it works out to 1 liter or about 3 standard beers) and then on the weekends it could really go crazy, sometimes even 8-10 beers. But for the longest time (at least 15 years) it was pretty standard: I would feel nothing really after the 2 beers in the week, and on the weekends, 1 day having 10 beers, and the next day recovering: headache, tired, brain fog, general hungover feeling.\n\nAnd i had actually in the last 18 months really started to slow down drinking, no more beers after work and just like 1 day of really drinking on the weekends, I would say at this point in my life, just a normal amount of drinking that people would consider \"normal\".\n\nBut it all changed at the end of June this year: I had one really bad hangover, ears were ringing, crazy anxiety, i couldn't walk in a straight line (not still drunk, but walking coordination was really off) massive anxiety from eye contact (I was at work) couldn't concentrate at all, just riding wave after wave of panic attacks, and walking literally along the wall to stay up straight. I went home early from work at thought \"ok what the hell is going on with me.\" And that was just the beginning.\n\nI would try and drink my normal 2 beers after work, something that never affected me before, and it would literally mean 48 - 72 hours of just massive panic attacks. 2 Beers. No hangover in a normal sense, but really a psyhcological hangover, and in between the panic attacks, just a really weird feeling in general. I was still in denial and would try and drink maybe 5 - 6 beers on my off day, and I even noticed that the drunk feeling was different. The first half of the first beer just made me feel really uneasy (used to make me relax) and when it was over by the 6th beer, i was lightly intoxicated but it just felt different. And the next days would be hell after. We are talking 4 - 5 days of the symptoms I described above, but also more. Eating a normal meal in these days would set off waves of panic attacks, if I felt like drinking a coffee, sometimes it helped, but always in the come down phase, just massive anxiety and attacks. I had numb lips, and the feeling that I would just pass out. Trying to do anything like grocery shopping or going to the bank, just massive attacks, something that never happened before.\n\nI started to look all over the internet like I'm sure we all did, took in tons of information, and eventually found this sub reddit. I read several posts here, and noticed I had a lot of the same symptoms of the people that are also now \"anything more than 3 beers and i have days and days of anxiety/ stopped drinking completely/came on suddenly/any alcohol now is hell\". Well somewhere in the middle of one of these threads, tucked away like 4 comments deep, there was one comment, it had no upvotes: **Take probiotics, you need one like 50,000,000 strong, take several times a day, it made it stop.**\n\nSo I was desperate, I had already tried so many things that I had read on the internet and here, and was getting ready to just lead a life of zero alcohol, but decided to do some research. Most of the chemicals in our brain are produced in the gut, something really like 96%. And anxiety is generally a chemical imbalance, usually involving GABA and Seratonin, or any number of imbalances from dopamine, endorphines, etc. Well, I was going to try it out.\n\nI bought a respected probiotic online, and started to take it twice a day as recommended. I went to the store and bought some activia, and started to eat it once a day. I went to my local asian shop and bought some really high quality kimchee, and I would try and eat a little bit every day. I really just packed my body full of probiotics (but not in an unhealthy way, just wanted several sources as sort of a fail proof) and hoped for the best. **And I want to tell you all, it actually worked.**\n\nI have been doing this now for about 7 weeks, and everything has returned back to normal. I can enjoy my 2 beers like i always had before when I'm in the mood, and sometimes we go out to the beer gardens and really go hard, 8 beers. And I have a normal hangover the next day (tired, headache, sleepy) but not these crazy symptoms that I started to have. My mom came to visit for vacation, and we were drinking like every day maybe 5 beers total every day (10 days) (summer in Germany = a beer at every stop) and now it's the 2nd day she is gone, and I haven't had any alcohol and I feel completely normal.\n\nIf you are like me, and this is something that suddenly started happening to you, and you have tried everything, I would highly suggest you try this, because worse case scenario you just have a really healthy gut bacteria. Best case scenario, it lets you enjoy a normal amount of alcohol again. Now it does take some time. Even a targeted SSRI that would be prescribed for anxiety needs 2 - 4 weeks for a working effect, and that is pharmaceutical grade. This took 7 weeks daily before I saw any difference, but what I am guessing happened is that my gut bacteria was bad, and it was effecting my ability to even out my brain chemicals after drinking/or just in general. Point is, it actually worked and I am normal again.\n\nI will be here to answer any questions if you have them in the comments, but I hope the best to all of you that are just trying to understand what is going on with your body and your mental health.",
          "stickied": false,
          "banned_by": null,
          "no_follow": false,
          "permalink": "/r/hangxiety/comments/16wt4k6/i_was_able_to_cure_my_hangxiety_and_wanted_to/",
          "subreddit": "hangxiety",
          "thumbnail": "self",
          "hide_score": false,
          "media_only": false,
          "quarantine": false,
          "removed_by": null,
          "view_count": null,
          "approved_by": null,
          "created_utc": 1696139712,
          "media_embed": {},
          "mod_reports": [],
          "num_reports": null,
          "can_mod_post": false,
          "contest_mode": false,
          "num_comments": 112,
          "secure_media": null,
          "send_replies": true,
          "subreddit_id": "t5_13wks8",
          "upvote_ratio": 1,
          "user_reports": [],
          "all_awardings": [],
          "banned_at_utc": null,
          "distinguished": null,
          "mod_reason_by": null,
          "selftext_html": "&lt;!-- SC_OFF --&gt;&lt;div class=\"md\"&gt;&lt;p&gt;TWO YEARS LATER, life is amazing: &lt;a href=\"https://www.reddit.com/r/hangxiety/comments/1l4tech/probiotics_guy_2_years_later_better_than_ive_ever/\"&gt;https://www.reddit.com/r/hangxiety/comments/1l4tech/probiotics_guy_2_years_later_better_than_ive_ever/&lt;/a&gt;&lt;/p&gt;\n\n&lt;p&gt;Ok so first some background:&lt;/p&gt;\n\n&lt;p&gt;I have been a moderate drinker my whole life (37m) I usually like to have 1-2 beers after work (in Germany so it works out to 1 liter or about 3 standard beers) and then on the weekends it could really go crazy, sometimes even 8-10 beers. But for the longest time (at least 15 years) it was pretty standard: I would feel nothing really after the 2 beers in the week, and on the weekends, 1 day having 10 beers, and the next day recovering: headache, tired, brain fog, general hungover feeling.&lt;/p&gt;\n\n&lt;p&gt;And i had actually in the last 18 months really started to slow down drinking, no more beers after work and just like 1 day of really drinking on the weekends, I would say at this point in my life, just a normal amount of drinking that people would consider &amp;quot;normal&amp;quot;.&lt;/p&gt;\n\n&lt;p&gt;But it all changed at the end of June this year: I had one really bad hangover, ears were ringing, crazy anxiety, i couldn&amp;#39;t walk in a straight line (not still drunk, but walking coordination was really off) massive anxiety from eye contact (I was at work) couldn&amp;#39;t concentrate at all, just riding wave after wave of panic attacks, and walking literally along the wall to stay up straight. I went home early from work at thought &amp;quot;ok what the hell is going on with me.&amp;quot; And that was just the beginning.&lt;/p&gt;\n\n&lt;p&gt;I would try and drink my normal 2 beers after work, something that never affected me before, and it would literally mean 48 - 72 hours of just massive panic attacks. 2 Beers. No hangover in a normal sense, but really a psyhcological hangover, and in between the panic attacks, just a really weird feeling in general. I was still in denial and would try and drink maybe 5 - 6 beers on my off day, and I even noticed that the drunk feeling was different. The first half of the first beer just made me feel really uneasy (used to make me relax) and when it was over by the 6th beer, i was lightly intoxicated but it just felt different. And the next days would be hell after. We are talking 4 - 5 days of the symptoms I described above, but also more. Eating a normal meal in these days would set off waves of panic attacks, if I felt like drinking a coffee, sometimes it helped, but always in the come down phase, just massive anxiety and attacks. I had numb lips, and the feeling that I would just pass out. Trying to do anything like grocery shopping or going to the bank, just massive attacks, something that never happened before.&lt;/p&gt;\n\n&lt;p&gt;I started to look all over the internet like I&amp;#39;m sure we all did, took in tons of information, and eventually found this sub reddit. I read several posts here, and noticed I had a lot of the same symptoms of the people that are also now &amp;quot;anything more than 3 beers and i have days and days of anxiety/ stopped drinking completely/came on suddenly/any alcohol now is hell&amp;quot;. Well somewhere in the middle of one of these threads, tucked away like 4 comments deep, there was one comment, it had no upvotes: &lt;strong&gt;Take probiotics, you need one like 50,000,000 strong, take several times a day, it made it stop.&lt;/strong&gt;&lt;/p&gt;\n\n&lt;p&gt;So I was desperate, I had already tried so many things that I had read on the internet and here, and was getting ready to just lead a life of zero alcohol, but decided to do some research. Most of the chemicals in our brain are produced in the gut, something really like 96%. And anxiety is generally a chemical imbalance, usually involving GABA and Seratonin, or any number of imbalances from dopamine, endorphines, etc. Well, I was going to try it out.&lt;/p&gt;\n\n&lt;p&gt;I bought a respected probiotic online, and started to take it twice a day as recommended. I went to the store and bought some activia, and started to eat it once a day. I went to my local asian shop and bought some really high quality kimchee, and I would try and eat a little bit every day. I really just packed my body full of probiotics (but not in an unhealthy way, just wanted several sources as sort of a fail proof) and hoped for the best. &lt;strong&gt;And I want to tell you all, it actually worked.&lt;/strong&gt;&lt;/p&gt;\n\n&lt;p&gt;I have been doing this now for about 7 weeks, and everything has returned back to normal. I can enjoy my 2 beers like i always had before when I&amp;#39;m in the mood, and sometimes we go out to the beer gardens and really go hard, 8 beers. And I have a normal hangover the next day (tired, headache, sleepy) but not these crazy symptoms that I started to have. My mom came to visit for vacation, and we were drinking like every day maybe 5 beers total every day (10 days) (summer in Germany = a beer at every stop) and now it&amp;#39;s the 2nd day she is gone, and I haven&amp;#39;t had any alcohol and I feel completely normal.&lt;/p&gt;\n\n&lt;p&gt;If you are like me, and this is something that suddenly started happening to you, and you have tried everything, I would highly suggest you try this, because worse case scenario you just have a really healthy gut bacteria. Best case scenario, it lets you enjoy a normal amount of alcohol again. Now it does take some time. Even a targeted SSRI that would be prescribed for anxiety needs 2 - 4 weeks for a working effect, and that is pharmaceutical grade. This took 7 weeks daily before I saw any difference, but what I am guessing happened is that my gut bacteria was bad, and it was effecting my ability to even out my brain chemicals after drinking/or just in general. Point is, it actually worked and I am normal again.&lt;/p&gt;\n\n&lt;p&gt;I will be here to answer any questions if you have them in the comments, but I hope the best to all of you that are just trying to understand what is going on with your body and your mental health.&lt;/p&gt;\n&lt;/div&gt;&lt;!-- SC_ON --&gt;",
          "author_premium": false,
          "num_crossposts": 0,
          "removal_reason": null,
          "report_reasons": null,
          "subreddit_type": "public",
          "suggested_sort": null,
          "treatment_tags": [],
          "approved_at_utc": null,
          "author_fullname": "t2_7yg62y6x",
          "discussion_type": null,
          "link_flair_text": null,
          "link_flair_type": "text",
          "thumbnail_width": null,
          "is_crosspostable": true,
          "mod_reason_title": null,
          "thumbnail_height": null,
          "top_awarded_type": null,
          "author_flair_text": null,
          "author_flair_type": "text",
          "author_is_blocked": false,
          "content_categories": null,
          "is_robot_indexable": true,
          "secure_media_embed": {},
          "allow_live_comments": false,
          "is_original_content": false,
          "link_flair_richtext": [],
          "removed_by_category": null,
          "author_patreon_flair": false,
          "link_flair_css_class": null,
          "author_flair_richtext": [],
          "link_flair_text_color": "dark",
          "subreddit_subscribers": 6993,
          "total_awards_received": 0,
          "author_flair_css_class": null,
          "is_created_from_ads_ui": false,
          "is_reddit_media_domain": false,
          "author_flair_text_color": null,
          "subreddit_name_prefixed": "r/hangxiety",
          "author_flair_template_id": null,
          "link_flair_background_color": "",
          "author_flair_background_color": null
        }
      },
      {
        "json": {
          "id": "1fd8ekr",
          "ups": 12,
          "url": "https://www.reddit.com/r/hangxiety/comments/1fd8ekr/i_need_help_with_my_hangxiety_anything/",
          "wls": null,
          "name": "t3_1fd8ekr",
          "pwls": null,
          "downs": 0,
          "likes": null,
          "media": null,
          "saved": false,
          "score": 12,
          "title": "I need help with my hangxiety. Anything?",
          "author": "Longjumping_Ad_3532",
          "domain": "self.hangxiety",
          "edited": false,
          "gilded": 0,
          "hidden": false,
          "locked": false,
          "pinned": false,
          "clicked": false,
          "created": 1725938458,
          "is_meta": false,
          "is_self": true,
          "over_18": false,
          "spoiler": false,
          "visited": false,
          "archived": false,
          "awarders": [],
          "can_gild": false,
          "category": null,
          "gildings": {},
          "is_video": false,
          "mod_note": null,
          "selftext": "Hello guys, I am 23, M 180lbs. I drink once a weekend, no drugs, only do zyns when I drink. I wake up with the worst hangovers, heart racing, high blood pressure, body sweats, dizzy, tingling body, jolts of blurryness, and almost like I can feel my heart beating. I can drink 12-18 beers in a night (Canada), my tolerance is fairly high. I don’t ever puke though. I once got these symptoms so bad I had to go to the hospital after a festival (3 days in a row of drinking, something lots of us Albertans do) I had super high blood pressure even the doctors were scared. I’m going on a cruise for 7 days and i remember last year in Cancun I was anxious the whole trip due to hangovers, so bad I could barely enjoy it. I want to know if there is anything that can save me here? I don’t want to be anxious on the cruise the whole time. I know the easy answer is to not drink but it’s hard to do that on a cruise, I have stopped drinking before for months, I don’t get cravings, I’ve never gotten cravings, just like to have fun when it’s time to have fun. Anyone have these symptoms or any recommendations to help me out? I saw probiotics might work? Thanks guys  ",
          "stickied": false,
          "banned_by": null,
          "no_follow": false,
          "permalink": "/r/hangxiety/comments/1fd8ekr/i_need_help_with_my_hangxiety_anything/",
          "subreddit": "hangxiety",
          "thumbnail": "self",
          "hide_score": false,
          "media_only": false,
          "quarantine": false,
          "removed_by": null,
          "view_count": null,
          "approved_by": null,
          "created_utc": 1725938458,
          "media_embed": {},
          "mod_reports": [],
          "num_reports": null,
          "can_mod_post": false,
          "contest_mode": false,
          "num_comments": 41,
          "secure_media": null,
          "send_replies": true,
          "subreddit_id": "t5_13wks8",
          "upvote_ratio": 0.93,
          "user_reports": [],
          "all_awardings": [],
          "banned_at_utc": null,
          "distinguished": null,
          "mod_reason_by": null,
          "selftext_html": "&lt;!-- SC_OFF --&gt;&lt;div class=\"md\"&gt;&lt;p&gt;Hello guys, I am 23, M 180lbs. I drink once a weekend, no drugs, only do zyns when I drink. I wake up with the worst hangovers, heart racing, high blood pressure, body sweats, dizzy, tingling body, jolts of blurryness, and almost like I can feel my heart beating. I can drink 12-18 beers in a night (Canada), my tolerance is fairly high. I don’t ever puke though. I once got these symptoms so bad I had to go to the hospital after a festival (3 days in a row of drinking, something lots of us Albertans do) I had super high blood pressure even the doctors were scared. I’m going on a cruise for 7 days and i remember last year in Cancun I was anxious the whole trip due to hangovers, so bad I could barely enjoy it. I want to know if there is anything that can save me here? I don’t want to be anxious on the cruise the whole time. I know the easy answer is to not drink but it’s hard to do that on a cruise, I have stopped drinking before for months, I don’t get cravings, I’ve never gotten cravings, just like to have fun when it’s time to have fun. Anyone have these symptoms or any recommendations to help me out? I saw probiotics might work? Thanks guys  &lt;/p&gt;\n&lt;/div&gt;&lt;!-- SC_ON --&gt;",
          "author_premium": false,
          "num_crossposts": 0,
          "removal_reason": null,
          "report_reasons": null,
          "subreddit_type": "public",
          "suggested_sort": null,
          "treatment_tags": [],
          "approved_at_utc": null,
          "author_fullname": "t2_8a8ivznn",
          "discussion_type": null,
          "link_flair_text": null,
          "link_flair_type": "text",
          "thumbnail_width": null,
          "is_crosspostable": true,
          "mod_reason_title": null,
          "thumbnail_height": null,
          "top_awarded_type": null,
          "author_flair_text": null,
          "author_flair_type": "text",
          "author_is_blocked": false,
          "content_categories": null,
          "is_robot_indexable": true,
          "secure_media_embed": {},
          "allow_live_comments": false,
          "is_original_content": false,
          "link_flair_richtext": [],
          "removed_by_category": null,
          "author_patreon_flair": false,
          "link_flair_css_class": null,
          "author_flair_richtext": [],
          "link_flair_text_color": "dark",
          "subreddit_subscribers": 6993,
          "total_awards_received": 0,
          "author_flair_css_class": null,
          "is_created_from_ads_ui": false,
          "is_reddit_media_domain": false,
          "author_flair_text_color": null,
          "subreddit_name_prefixed": "r/hangxiety",
          "author_flair_template_id": null,
          "link_flair_background_color": "",
          "author_flair_background_color": null
        }
      },
      {
        "json": {
          "id": "1kcyupf",
          "ups": 41,
          "url": "https://www.reddit.com/r/hangxiety/comments/1kcyupf/it_was_bad_please_help_me/",
          "wls": null,
          "name": "t3_1kcyupf",
          "pwls": null,
          "downs": 0,
          "likes": null,
          "media": null,
          "saved": false,
          "score": 41,
          "title": "It was bad, please help me",
          "author": "thejuiciestguineapig",
          "domain": "self.hangxiety",
          "edited": false,
          "gilded": 0,
          "hidden": false,
          "locked": false,
          "pinned": false,
          "clicked": false,
          "created": 1746186163,
          "is_meta": false,
          "is_self": true,
          "over_18": false,
          "spoiler": false,
          "visited": false,
          "archived": false,
          "awarders": [],
          "can_gild": false,
          "category": null,
          "gildings": {},
          "is_video": false,
          "mod_note": null,
          "selftext": "I (32F) had people over and we had margaritas. Then while walking the dogs I ended up meeting two friendly guys in the park and I chilled with them for a few hours en had another drink. Then while walking home I heard my (retired) neighbours talking so I gave a shout to say hi. I got invited in and had some more drinks with them (they'd also been drinking). I got so drunk I cried. I actually think I realy needed that cry. I've been there for my family for years now and I never get to be the person that gets to cry.\n\nBut when I asked them to walk me home I couldn't find my keys. Luckily I exchanged numbers with the guys in the park because they actually found my keys! But I had to stay over at my neighbours with my dogs (thank god they love dogs) and I threw up there. \n\nThrew up out the window, lost my key, don't remember everything I said, the crying,... I just feel so embarrassed. And nauseous.\n\nAnd that is the least of it. The mental hangover is so awful and I'm feeling really bad about my drinking behaviour the last few weeks. I knew I wasn't doing well but now it's really sinking in...",
          "stickied": false,
          "banned_by": null,
          "no_follow": false,
          "permalink": "/r/hangxiety/comments/1kcyupf/it_was_bad_please_help_me/",
          "subreddit": "hangxiety",
          "thumbnail": "self",
          "hide_score": false,
          "media_only": false,
          "quarantine": false,
          "removed_by": null,
          "view_count": null,
          "approved_by": null,
          "created_utc": 1746186163,
          "media_embed": {},
          "mod_reports": [],
          "num_reports": null,
          "can_mod_post": false,
          "contest_mode": false,
          "num_comments": 15,
          "secure_media": null,
          "send_replies": true,
          "subreddit_id": "t5_13wks8",
          "upvote_ratio": 0.99,
          "user_reports": [],
          "all_awardings": [],
          "banned_at_utc": null,
          "distinguished": null,
          "mod_reason_by": null,
          "selftext_html": "&lt;!-- SC_OFF --&gt;&lt;div class=\"md\"&gt;&lt;p&gt;I (32F) had people over and we had margaritas. Then while walking the dogs I ended up meeting two friendly guys in the park and I chilled with them for a few hours en had another drink. Then while walking home I heard my (retired) neighbours talking so I gave a shout to say hi. I got invited in and had some more drinks with them (they&amp;#39;d also been drinking). I got so drunk I cried. I actually think I realy needed that cry. I&amp;#39;ve been there for my family for years now and I never get to be the person that gets to cry.&lt;/p&gt;\n\n&lt;p&gt;But when I asked them to walk me home I couldn&amp;#39;t find my keys. Luckily I exchanged numbers with the guys in the park because they actually found my keys! But I had to stay over at my neighbours with my dogs (thank god they love dogs) and I threw up there. &lt;/p&gt;\n\n&lt;p&gt;Threw up out the window, lost my key, don&amp;#39;t remember everything I said, the crying,... I just feel so embarrassed. And nauseous.&lt;/p&gt;\n\n&lt;p&gt;And that is the least of it. The mental hangover is so awful and I&amp;#39;m feeling really bad about my drinking behaviour the last few weeks. I knew I wasn&amp;#39;t doing well but now it&amp;#39;s really sinking in...&lt;/p&gt;\n&lt;/div&gt;&lt;!-- SC_ON --&gt;",
          "author_premium": false,
          "num_crossposts": 0,
          "removal_reason": null,
          "report_reasons": null,
          "subreddit_type": "public",
          "suggested_sort": null,
          "treatment_tags": [],
          "approved_at_utc": null,
          "author_fullname": "t2_5kdk9b9l",
          "discussion_type": null,
          "link_flair_text": null,
          "link_flair_type": "text",
          "thumbnail_width": null,
          "is_crosspostable": true,
          "mod_reason_title": null,
          "thumbnail_height": null,
          "top_awarded_type": null,
          "author_flair_text": null,
          "author_flair_type": "text",
          "author_is_blocked": false,
          "content_categories": null,
          "is_robot_indexable": true,
          "secure_media_embed": {},
          "allow_live_comments": false,
          "is_original_content": false,
          "link_flair_richtext": [],
          "removed_by_category": null,
          "author_patreon_flair": false,
          "link_flair_css_class": null,
          "author_flair_richtext": [],
          "link_flair_text_color": "dark",
          "subreddit_subscribers": 6993,
          "total_awards_received": 0,
          "author_flair_css_class": null,
          "is_created_from_ads_ui": false,
          "is_reddit_media_domain": false,
          "author_flair_text_color": null,
          "subreddit_name_prefixed": "r/hangxiety",
          "author_flair_template_id": null,
          "link_flair_background_color": "",
          "author_flair_background_color": null
        }
      },
      {
        "json": {
          "id": "1l7dnzo",
          "ups": 38,
          "url": "https://www.reddit.com/r/stopdrinking/comments/1l7dnzo/the_hangxiety_started_feeling_like_it_was_coming/",
          "wls": null,
          "name": "t3_1l7dnzo",
          "pwls": null,
          "downs": 0,
          "likes": null,
          "media": null,
          "saved": false,
          "score": 38,
          "title": "The hangxiety started feeling like it was coming from the depths of my soul…",
          "author": "FluffyBirmanCat",
          "domain": "self.stopdrinking",
          "edited": false,
          "gilded": 0,
          "hidden": false,
          "locked": false,
          "pinned": false,
          "clicked": false,
          "created": 1749496581,
          "is_meta": false,
          "is_self": true,
          "over_18": false,
          "spoiler": false,
          "visited": false,
          "archived": false,
          "awarders": [],
          "can_gild": false,
          "category": null,
          "gildings": {},
          "is_video": false,
          "mod_note": null,
          "selftext": "That’s the only way to explain how extreme it became. Radiating straight from my heart, where the palpitations were off the chart. If it wasn’t only present at hangovers, it’s the sort of thing I’d be going straight to A&amp;E for.\n\nThere were so many reasons to quit. I ticked every box on the alcoholic checklist, I knew long ago, but this one thing I really couldn’t handle anymore.\n\nLet’s hope the memory and reminder stays fresh. Today was a hard one, but it wasn’t worth the sustained pain after.",
          "stickied": false,
          "banned_by": null,
          "no_follow": false,
          "permalink": "/r/stopdrinking/comments/1l7dnzo/the_hangxiety_started_feeling_like_it_was_coming/",
          "subreddit": "stopdrinking",
          "thumbnail": "self",
          "hide_score": false,
          "media_only": false,
          "quarantine": false,
          "removed_by": null,
          "view_count": null,
          "approved_by": null,
          "created_utc": 1749496581,
          "media_embed": {},
          "mod_reports": [],
          "num_reports": null,
          "can_mod_post": false,
          "contest_mode": false,
          "num_comments": 33,
          "secure_media": null,
          "send_replies": true,
          "subreddit_id": "t5_2s7yr",
          "upvote_ratio": 1,
          "user_reports": [],
          "all_awardings": [],
          "banned_at_utc": null,
          "distinguished": null,
          "mod_reason_by": null,
          "selftext_html": "&lt;!-- SC_OFF --&gt;&lt;div class=\"md\"&gt;&lt;p&gt;That’s the only way to explain how extreme it became. Radiating straight from my heart, where the palpitations were off the chart. If it wasn’t only present at hangovers, it’s the sort of thing I’d be going straight to A&amp;amp;E for.&lt;/p&gt;\n\n&lt;p&gt;There were so many reasons to quit. I ticked every box on the alcoholic checklist, I knew long ago, but this one thing I really couldn’t handle anymore.&lt;/p&gt;\n\n&lt;p&gt;Let’s hope the memory and reminder stays fresh. Today was a hard one, but it wasn’t worth the sustained pain after.&lt;/p&gt;\n&lt;/div&gt;&lt;!-- SC_ON --&gt;",
          "author_premium": false,
          "num_crossposts": 0,
          "removal_reason": null,
          "report_reasons": null,
          "subreddit_type": "public",
          "suggested_sort": null,
          "treatment_tags": [],
          "approved_at_utc": null,
          "author_fullname": "t2_m3cjy0ilo",
          "discussion_type": null,
          "link_flair_text": null,
          "link_flair_type": "text",
          "thumbnail_width": null,
          "is_crosspostable": false,
          "mod_reason_title": null,
          "thumbnail_height": null,
          "top_awarded_type": null,
          "author_flair_text": null,
          "author_flair_type": "text",
          "author_is_blocked": false,
          "content_categories": null,
          "is_robot_indexable": true,
          "secure_media_embed": {},
          "allow_live_comments": false,
          "is_original_content": false,
          "link_flair_richtext": [],
          "removed_by_category": null,
          "author_patreon_flair": false,
          "link_flair_css_class": null,
          "author_flair_richtext": [],
          "link_flair_text_color": "dark",
          "subreddit_subscribers": 592036,
          "total_awards_received": 0,
          "author_flair_css_class": null,
          "is_created_from_ads_ui": false,
          "is_reddit_media_domain": false,
          "author_flair_text_color": null,
          "subreddit_name_prefixed": "r/stopdrinking",
          "author_flair_template_id": null,
          "link_flair_background_color": "",
          "author_flair_background_color": null
        }
      },
      {
        "json": {
          "id": "1hs73f2",
          "ups": 37,
          "url": "https://www.reddit.com/r/hangxiety/comments/1hs73f2/worst_hangxiety_of_my_life/",
          "wls": null,
          "name": "t3_1hs73f2",
          "pwls": null,
          "downs": 0,
          "likes": null,
          "media": null,
          "saved": false,
          "score": 37,
          "title": "Worst hangxiety of my life",
          "author": "godzillen1344",
          "domain": "self.hangxiety",
          "edited": false,
          "gilded": 0,
          "hidden": false,
          "locked": false,
          "pinned": false,
          "clicked": false,
          "created": 1735858554,
          "is_meta": false,
          "is_self": true,
          "over_18": false,
          "spoiler": false,
          "visited": false,
          "archived": false,
          "awarders": [],
          "can_gild": false,
          "category": null,
          "gildings": {},
          "is_video": false,
          "mod_note": null,
          "selftext": "I guess I just need to rant and tell someone about this and for maybe someone to tell me it will be ok? Two nights ago I blacked out and ruined A LOT of things in my life. While at a bar, I thought it was a karaoke situation and went up to the man performing and tried to take the mic from him. I then proceeded to get kicked out and everyone cheered as I left. I texted my best friend that I was mad at her (from something that happened over a year ago), I texted the guy I like who has a girlfriend that I am in love with him (his girlfriend is in my friend group and now everyone knows). I DMed a kid I went to college with that I used to have a crush on him (this was so unnecessary). I called my ex and asked if I could come over and he said no. To top it off, instead of just sleeping over at my friends, I made a huge scene and called my parents multiple times at 4am asking them to pick me up. \n\nSo yes, I know I really need to take a look at my life and stop using alcohol to ignore other glaring problems I’m going through. But for now, I haven’t turned on my phone or left my bed in days because I am so embarrassed to see what I’ll find. I am home for the holidays and should’ve gone back to my apartment in the city I live in now yesterday, but I honestly have no plans on going back at this point and think I should just stay at my parents house for a little. I ruined a lot of my friendships I think and can’t face it yet. ",
          "stickied": false,
          "banned_by": null,
          "no_follow": false,
          "permalink": "/r/hangxiety/comments/1hs73f2/worst_hangxiety_of_my_life/",
          "subreddit": "hangxiety",
          "thumbnail": "self",
          "hide_score": false,
          "media_only": false,
          "quarantine": false,
          "removed_by": null,
          "view_count": null,
          "approved_by": null,
          "created_utc": 1735858554,
          "media_embed": {},
          "mod_reports": [],
          "num_reports": null,
          "can_mod_post": false,
          "contest_mode": false,
          "num_comments": 13,
          "secure_media": null,
          "send_replies": true,
          "subreddit_id": "t5_13wks8",
          "upvote_ratio": 1,
          "user_reports": [],
          "all_awardings": [],
          "banned_at_utc": null,
          "distinguished": null,
          "mod_reason_by": null,
          "selftext_html": "&lt;!-- SC_OFF --&gt;&lt;div class=\"md\"&gt;&lt;p&gt;I guess I just need to rant and tell someone about this and for maybe someone to tell me it will be ok? Two nights ago I blacked out and ruined A LOT of things in my life. While at a bar, I thought it was a karaoke situation and went up to the man performing and tried to take the mic from him. I then proceeded to get kicked out and everyone cheered as I left. I texted my best friend that I was mad at her (from something that happened over a year ago), I texted the guy I like who has a girlfriend that I am in love with him (his girlfriend is in my friend group and now everyone knows). I DMed a kid I went to college with that I used to have a crush on him (this was so unnecessary). I called my ex and asked if I could come over and he said no. To top it off, instead of just sleeping over at my friends, I made a huge scene and called my parents multiple times at 4am asking them to pick me up. &lt;/p&gt;\n\n&lt;p&gt;So yes, I know I really need to take a look at my life and stop using alcohol to ignore other glaring problems I’m going through. But for now, I haven’t turned on my phone or left my bed in days because I am so embarrassed to see what I’ll find. I am home for the holidays and should’ve gone back to my apartment in the city I live in now yesterday, but I honestly have no plans on going back at this point and think I should just stay at my parents house for a little. I ruined a lot of my friendships I think and can’t face it yet. &lt;/p&gt;\n&lt;/div&gt;&lt;!-- SC_ON --&gt;",
          "author_premium": false,
          "num_crossposts": 0,
          "removal_reason": null,
          "report_reasons": null,
          "subreddit_type": "public",
          "suggested_sort": null,
          "treatment_tags": [],
          "approved_at_utc": null,
          "author_fullname": "t2_1ei09f8p96",
          "discussion_type": null,
          "link_flair_text": null,
          "link_flair_type": "text",
          "thumbnail_width": null,
          "is_crosspostable": true,
          "mod_reason_title": null,
          "thumbnail_height": null,
          "top_awarded_type": null,
          "author_flair_text": null,
          "author_flair_type": "text",
          "author_is_blocked": false,
          "content_categories": null,
          "is_robot_indexable": true,
          "secure_media_embed": {},
          "allow_live_comments": false,
          "is_original_content": false,
          "link_flair_richtext": [],
          "removed_by_category": null,
          "author_patreon_flair": false,
          "link_flair_css_class": null,
          "author_flair_richtext": [],
          "link_flair_text_color": "dark",
          "subreddit_subscribers": 6993,
          "total_awards_received": 0,
          "author_flair_css_class": null,
          "is_created_from_ads_ui": false,
          "is_reddit_media_domain": false,
          "author_flair_text_color": null,
          "subreddit_name_prefixed": "r/hangxiety",
          "author_flair_template_id": null,
          "link_flair_background_color": "",
          "author_flair_background_color": null
        }
      },
      {
        "json": {
          "id": "1k5gnd4",
          "ups": 30,
          "url": "https://www.reddit.com/r/hangxiety/comments/1k5gnd4/worst_hangxiety_of_my_life_please_help/",
          "wls": null,
          "name": "t3_1k5gnd4",
          "pwls": null,
          "downs": 0,
          "likes": null,
          "media": null,
          "saved": false,
          "score": 30,
          "title": "worst hangxiety of my life, please help",
          "author": "Different-House-243",
          "domain": "self.hangxiety",
          "edited": false,
          "gilded": 0,
          "hidden": false,
          "locked": false,
          "pinned": false,
          "clicked": false,
          "created": 1745353688,
          "is_meta": false,
          "is_self": true,
          "over_18": false,
          "spoiler": false,
          "visited": false,
          "archived": false,
          "awarders": [],
          "can_gild": false,
          "category": null,
          "gildings": {},
          "is_video": false,
          "mod_note": null,
          "selftext": "so i (24 F) am currently experiencing the worst hangover and hangxiety of my life\ni am talking non stop shaking, can't eat, can't sleep, can't walk in a straight line, can't leave my apartment or form sentences without overthinking everything \nbasically, two days ago i was back in my hometown which i do not visit often\ni ended up staying at a male friend's house drunk until 9am... it was him, my best friend and another guy from my hometown\ni am not really close to these people except for my best friend, obviously \ni ended up making out and some other things with one of them while my bestie was asleep on the couch next to us\ni feel horrible and like a huge slut, my friend said she couldn't hear anything and that she didn't care but i am overthinking the entire night wondering if i made a fool out of myself\ni am scared of visiting my hometown again because i do not want people to know that i hooked up with this guy since everyone knows each other there\ni took 2 sleeping pills yesterday and they could not calm me down, i am having horrific thoughts and i just need some advice! ",
          "stickied": false,
          "banned_by": null,
          "no_follow": false,
          "permalink": "/r/hangxiety/comments/1k5gnd4/worst_hangxiety_of_my_life_please_help/",
          "subreddit": "hangxiety",
          "thumbnail": "self",
          "hide_score": false,
          "media_only": false,
          "quarantine": false,
          "removed_by": null,
          "view_count": null,
          "approved_by": null,
          "created_utc": 1745353688,
          "media_embed": {},
          "mod_reports": [],
          "num_reports": null,
          "can_mod_post": false,
          "contest_mode": false,
          "num_comments": 25,
          "secure_media": null,
          "send_replies": true,
          "subreddit_id": "t5_13wks8",
          "upvote_ratio": 0.87,
          "user_reports": [],
          "all_awardings": [],
          "banned_at_utc": null,
          "distinguished": null,
          "mod_reason_by": null,
          "selftext_html": "&lt;!-- SC_OFF --&gt;&lt;div class=\"md\"&gt;&lt;p&gt;so i (24 F) am currently experiencing the worst hangover and hangxiety of my life\ni am talking non stop shaking, can&amp;#39;t eat, can&amp;#39;t sleep, can&amp;#39;t walk in a straight line, can&amp;#39;t leave my apartment or form sentences without overthinking everything \nbasically, two days ago i was back in my hometown which i do not visit often\ni ended up staying at a male friend&amp;#39;s house drunk until 9am... it was him, my best friend and another guy from my hometown\ni am not really close to these people except for my best friend, obviously \ni ended up making out and some other things with one of them while my bestie was asleep on the couch next to us\ni feel horrible and like a huge slut, my friend said she couldn&amp;#39;t hear anything and that she didn&amp;#39;t care but i am overthinking the entire night wondering if i made a fool out of myself\ni am scared of visiting my hometown again because i do not want people to know that i hooked up with this guy since everyone knows each other there\ni took 2 sleeping pills yesterday and they could not calm me down, i am having horrific thoughts and i just need some advice! &lt;/p&gt;\n&lt;/div&gt;&lt;!-- SC_ON --&gt;",
          "author_premium": false,
          "num_crossposts": 0,
          "removal_reason": null,
          "report_reasons": null,
          "subreddit_type": "public",
          "suggested_sort": null,
          "treatment_tags": [],
          "approved_at_utc": null,
          "author_fullname": "t2_1nv7pjyeu2",
          "discussion_type": null,
          "link_flair_text": null,
          "link_flair_type": "text",
          "thumbnail_width": null,
          "is_crosspostable": true,
          "mod_reason_title": null,
          "thumbnail_height": null,
          "top_awarded_type": null,
          "author_flair_text": null,
          "author_flair_type": "text",
          "author_is_blocked": false,
          "content_categories": null,
          "is_robot_indexable": true,
          "secure_media_embed": {},
          "allow_live_comments": false,
          "is_original_content": false,
          "link_flair_richtext": [],
          "removed_by_category": null,
          "author_patreon_flair": false,
          "link_flair_css_class": null,
          "author_flair_richtext": [],
          "link_flair_text_color": "dark",
          "subreddit_subscribers": 6993,
          "total_awards_received": 0,
          "author_flair_css_class": null,
          "is_created_from_ads_ui": false,
          "is_reddit_media_domain": false,
          "author_flair_text_color": null,
          "subreddit_name_prefixed": "r/hangxiety",
          "author_flair_template_id": null,
          "link_flair_background_color": "",
          "author_flair_background_color": null
        }
      },
      {
        "json": {
          "id": "1gsyhml",
          "ups": 21,
          "url": "https://www.reddit.com/r/hangxiety/comments/1gsyhml/hangxiety_so_bad_i_think_im_going_insane/",
          "wls": null,
          "name": "t3_1gsyhml",
          "pwls": null,
          "downs": 0,
          "likes": null,
          "media": null,
          "saved": false,
          "score": 21,
          "title": "Hangxiety so bad I think I’m going insane ",
          "author": "ToeDiscombobulated95",
          "domain": "self.hangxiety",
          "edited": false,
          "gilded": 0,
          "hidden": false,
          "locked": false,
          "pinned": false,
          "clicked": false,
          "created": 1731795337,
          "is_meta": false,
          "is_self": true,
          "over_18": false,
          "spoiler": false,
          "visited": false,
          "archived": false,
          "awarders": [],
          "can_gild": false,
          "category": null,
          "gildings": {},
          "is_video": false,
          "mod_note": null,
          "selftext": "This happens everytime I drink recently if I go out to the bars or clubs with friends. I don’t realize how drunk I am until I look back at it and when I get drunk I yell every sentence and have been told to quiet down from my friends but I can’t help but yell every word and I do other things that embarrass me but when I wake up it feels like the world is ending and I feel like everyone hates me and I feel like I was a bad friend to everyone and I’m scared everyone talks about it behind my back and I feel the need to apologize profusely to everyone and I stopped drinking as much because of this but I did last night and I think I’m going crazy and nothing feels real and I don’t know how to cope with these immense feelings of guilt and regret and anxiety even though I know I didn’t do anything wrong someone please HELP!! ",
          "stickied": false,
          "banned_by": null,
          "no_follow": false,
          "permalink": "/r/hangxiety/comments/1gsyhml/hangxiety_so_bad_i_think_im_going_insane/",
          "subreddit": "hangxiety",
          "thumbnail": "self",
          "hide_score": false,
          "media_only": false,
          "quarantine": false,
          "removed_by": null,
          "view_count": null,
          "approved_by": null,
          "created_utc": 1731795337,
          "media_embed": {},
          "mod_reports": [],
          "num_reports": null,
          "can_mod_post": false,
          "contest_mode": false,
          "num_comments": 10,
          "secure_media": null,
          "send_replies": true,
          "subreddit_id": "t5_13wks8",
          "upvote_ratio": 1,
          "user_reports": [],
          "all_awardings": [],
          "banned_at_utc": null,
          "distinguished": null,
          "mod_reason_by": null,
          "selftext_html": "&lt;!-- SC_OFF --&gt;&lt;div class=\"md\"&gt;&lt;p&gt;This happens everytime I drink recently if I go out to the bars or clubs with friends. I don’t realize how drunk I am until I look back at it and when I get drunk I yell every sentence and have been told to quiet down from my friends but I can’t help but yell every word and I do other things that embarrass me but when I wake up it feels like the world is ending and I feel like everyone hates me and I feel like I was a bad friend to everyone and I’m scared everyone talks about it behind my back and I feel the need to apologize profusely to everyone and I stopped drinking as much because of this but I did last night and I think I’m going crazy and nothing feels real and I don’t know how to cope with these immense feelings of guilt and regret and anxiety even though I know I didn’t do anything wrong someone please HELP!! &lt;/p&gt;\n&lt;/div&gt;&lt;!-- SC_ON --&gt;",
          "author_premium": false,
          "num_crossposts": 0,
          "removal_reason": null,
          "report_reasons": null,
          "subreddit_type": "public",
          "suggested_sort": null,
          "treatment_tags": [],
          "approved_at_utc": null,
          "author_fullname": "t2_9pi7d5ax",
          "discussion_type": null,
          "link_flair_text": null,
          "link_flair_type": "text",
          "thumbnail_width": null,
          "is_crosspostable": true,
          "mod_reason_title": null,
          "thumbnail_height": null,
          "top_awarded_type": null,
          "author_flair_text": null,
          "author_flair_type": "text",
          "author_is_blocked": false,
          "content_categories": null,
          "is_robot_indexable": true,
          "secure_media_embed": {},
          "allow_live_comments": false,
          "is_original_content": false,
          "link_flair_richtext": [],
          "removed_by_category": null,
          "author_patreon_flair": false,
          "link_flair_css_class": null,
          "author_flair_richtext": [],
          "link_flair_text_color": "dark",
          "subreddit_subscribers": 6993,
          "total_awards_received": 0,
          "author_flair_css_class": null,
          "is_created_from_ads_ui": false,
          "is_reddit_media_domain": false,
          "author_flair_text_color": null,
          "subreddit_name_prefixed": "r/hangxiety",
          "author_flair_template_id": null,
          "link_flair_background_color": "",
          "author_flair_background_color": null
        }
      },
      {
        "json": {
          "id": "18zqeq6",
          "ups": 9,
          "url": "https://www.reddit.com/r/stopdrinking/comments/18zqeq6/worst_hangxiety_story_andgo/",
          "wls": null,
          "name": "t3_18zqeq6",
          "pwls": null,
          "downs": 0,
          "likes": null,
          "media": null,
          "saved": false,
          "score": 9,
          "title": "Worst hangxiety story and….go.",
          "author": "dswenson123",
          "domain": "self.stopdrinking",
          "edited": false,
          "gilded": 0,
          "hidden": false,
          "locked": false,
          "pinned": false,
          "clicked": false,
          "created": 1704512184,
          "is_meta": false,
          "is_self": true,
          "over_18": false,
          "spoiler": false,
          "visited": false,
          "archived": true,
          "awarders": [],
          "can_gild": false,
          "category": null,
          "gildings": {},
          "is_video": false,
          "mod_note": null,
          "selftext": "Make it good!",
          "stickied": false,
          "banned_by": null,
          "no_follow": false,
          "permalink": "/r/stopdrinking/comments/18zqeq6/worst_hangxiety_story_andgo/",
          "subreddit": "stopdrinking",
          "thumbnail": "self",
          "hide_score": false,
          "media_only": false,
          "quarantine": false,
          "removed_by": null,
          "view_count": null,
          "approved_by": null,
          "created_utc": 1704512184,
          "media_embed": {},
          "mod_reports": [],
          "num_reports": null,
          "can_mod_post": false,
          "contest_mode": false,
          "num_comments": 22,
          "secure_media": null,
          "send_replies": true,
          "subreddit_id": "t5_2s7yr",
          "upvote_ratio": 1,
          "user_reports": [],
          "all_awardings": [],
          "banned_at_utc": null,
          "distinguished": null,
          "mod_reason_by": null,
          "selftext_html": "&lt;!-- SC_OFF --&gt;&lt;div class=\"md\"&gt;&lt;p&gt;Make it good!&lt;/p&gt;\n&lt;/div&gt;&lt;!-- SC_ON --&gt;",
          "author_premium": false,
          "num_crossposts": 0,
          "removal_reason": null,
          "report_reasons": null,
          "subreddit_type": "public",
          "suggested_sort": null,
          "treatment_tags": [],
          "approved_at_utc": null,
          "author_fullname": "t2_fijuxbnq",
          "discussion_type": null,
          "link_flair_text": null,
          "link_flair_type": "text",
          "thumbnail_width": null,
          "is_crosspostable": false,
          "mod_reason_title": null,
          "thumbnail_height": null,
          "top_awarded_type": null,
          "author_flair_text": "518 days",
          "author_flair_type": "text",
          "author_is_blocked": false,
          "content_categories": null,
          "is_robot_indexable": true,
          "secure_media_embed": {},
          "allow_live_comments": false,
          "is_original_content": false,
          "link_flair_richtext": [],
          "removed_by_category": null,
          "author_patreon_flair": false,
          "link_flair_css_class": null,
          "author_flair_richtext": [],
          "link_flair_text_color": "dark",
          "subreddit_subscribers": 592036,
          "total_awards_received": 0,
          "author_flair_css_class": "year1",
          "is_created_from_ads_ui": false,
          "is_reddit_media_domain": false,
          "author_flair_text_color": "light",
          "subreddit_name_prefixed": "r/stopdrinking",
          "author_flair_template_id": "f7eec2ca-6c34-11e9-b4d8-0e7ea67a6ce4",
          "link_flair_background_color": "",
          "author_flair_background_color": "#ea0027"
        }
      }
    ],
    "Generate Reddit Keyword from Product Description": [
      {
        "json": {
          "index": 0,
          "message": {
            "role": "assistant",
            "content": "hangxiety",
            "refusal": null,
            "annotations": []
          },
          "logprobs": null,
          "finish_reason": "stop"
        }
      }
    ]
  },
  "connections": {
    "Ad Angle Generation": {
      "ai_languageModel": [
        [
          {
            "node": "Generate 10 Ad Angles From Reddit Posts",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Comic Prompt Creation": {
      "ai_languageModel": [
        [
          {
            "node": "Create Comic Prompts from Ad Angles",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Rank Top 10 Ad Angles": {
      "main": [
        [
          {
            "node": "Create Comic Prompts from Ad Angles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When a Form is Submitted": {
      "main": [
        [
          {
            "node": "Generate Reddit Keyword from Product Description",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Through Comic Prompts": {
      "main": [
        [],
        [
          {
            "node": "Create Comic Poster",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Comic Prompt Objects": {
      "main": [
        [
          {
            "node": "Loop Through Comic Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Support Ad Angle Generation": {
      "ai_tool": [
        [
          {
            "node": "Generate 10 Ad Angles From Reddit Posts",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Upload Image to Google Drive": {
      "main": [
        [
          {
            "node": "Loop Through Comic Prompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT Model: Classify Relevance": {
      "ai_languageModel": [
        [
          {
            "node": "Classify Post Relevance to Product",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Support Comic Prompt Creation": {
      "ai_tool": [
        [
          {
            "node": "Create Comic Prompts from Ad Angles",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Relevant Reddit Data": {
      "main": [
        [
          {
            "node": "Generate 10 Ad Angles From Reddit Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Comic Prompt JSON Output": {
      "ai_outputParser": [
        [
          {
            "node": "Create Comic Prompts from Ad Angles",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Support Relevance Classification": {
      "ai_tool": [
        [
          {
            "node": "Classify Post Relevance to Product",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Parse Relevance Classifier Output": {
      "ai_outputParser": [
        [
          {
            "node": "Classify Post Relevance to Product",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Search Reddit Posts Using Keyword": {
      "main": [
        [
          {
            "node": "Filter Posts With 2+ Upvotes and Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Post Relevance to Product": {
      "main": [
        [
          {
            "node": "Format Relevant Reddit Post Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Relevant Reddit Post Fields": {
      "main": [
        [
          {
            "node": "Aggregate Relevant Reddit Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Comic Prompts from Ad Angles": {
      "main": [
        [
          {
            "node": "Split Comic Prompt Objects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Posts With 2+ Upvotes and Text": {
      "main": [
        [
          {
            "node": "Classify Post Relevance to Product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate 10 Ad Angles From Reddit Posts": {
      "main": [
        [
          {
            "node": "Rank Top 10 Ad Angles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Reddit Keyword from Product Description": {
      "main": [
        [
          {
            "node": "Search Reddit Posts Using Keyword",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Comic Poster": {
      "main": [
        [
          {
            "node": "Get Poster",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Poster": {
      "main": [
        [
          {
            "node": "Upload Image to Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "90bc331a-c588-4f4f-b4f1-9153f6cee4d5",
  "meta": {
    "instanceId": "0a7ae129a7d703150135f6cc24d0469f20ffd22b5ed59c23ee3e0608264e6d98"
  },
  "id": "SWSXkEYNfivBrmZh",
  "tags": []
}